* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
    height: 75%;
    font-family: sans-serif;
    margin-top: 60px;
    padding-top: 25px;
}

.my-link-wrapper img {
    height: 60px;
    margin: 0 80px 0 40px;
}

.my-link-wrapper {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 99;
}

.my-nav-links {
    display: inline;
    margin: 20px;
    color: black;
    text-decoration: none;
}

.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    height: 750px;
    border-radius: 10px;
}


/* Styling for About */

.image2 {
    float: left;
    top: 100px;
    margin: 3px 12px 3px 10px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.image4 {
    float: right;
    margin: 3px 330px 25px 25px;
    border: 1px solid black;
    box-shadow: 0 0 25px 0 black;
    width: 700px;
}

.image3 {
    float: right;
    margin: 5px 10px 3px 10px;
    border-radius: 10px;
    border: 1px solid #000000;
}

p {
    text-indent: 50px;
}


/* Styling for Sevices */

.image5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 50px;
}

.image6 {
    display: block;
    margin-top: 120px;
    width: 300px;
}

.image7 {
    margin-left: 18px;
}

.image8 {
    display: block;
    margin-top: -83px;
    float: right;
    width: 300px;
}

.image9 {
    display: block;
    float: right;
    margin-right: 18px;
}

.image10 {
    display: block;
    width: 300px;
    margin-left: 500px;
    margin-top: -275px;
}

.image11 {
    display: block;
    margin-left: 520px;
    margin-right: auto;
}

.image12 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
}

.image13 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: static;
    margin: 0;
    left: 0px;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 0 25px 0 black;
    text-align: center;
}

.ftLogo {
    display: block;
    float: left;
    margin-left: 50px;
    height: 70px;
}

.someAdd {
    display: block;
    text-align: center;
    font-size: 14px;
}

.facebook,
.intGram,
.youtube,
.linkedin,
.twitter {
    display: block;
    height: 30px;
    float: right;
    margin-top: 20px;
    margin-right: 25px;
}